.exitButton {
  position: absolute;
}

.editAndDeleteShow {
  visibility: visible;
}

.editAndDeleteHide {
  visibility: hidden;
}

.updateImageInputStyling {
  background-color: rgba(46, 31, 182, 0.6);
  width: 84px;
  height: 84px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 20px;
  visibility: hidden;
  cursor: pointer;
}
